body{font-family: "微软雅黑"}
.qx-topbg{ height: 27px; background: #eee;  }
.qx-topbg p{ color: #666; line-height: 27px; height: 27px; vertical-align: middle; }
.qx-w{ width: 1000px; margin: 0 auto;  position: relative;}
.qx-header{ height: 120px; background: #f7f7f7;  }
.logo{ margin-top:28px; }
ul{ margin: 0;padding: 0; list-style: none; text-align: center; }
.qx-menu{ height: 60px; background: #2b73b4; }
.qx-menu ul{ list-style: none;    margin: 0;    background: url("../images/menu-bg.gif") repeat-y left top;height:60px}
.qx-menu ul li{ float: left; height: 60px; line-height: 60px; vertical-align: middle; color: #fff; font-size: 20px; width: 120px; background: url("../images/menu-bg.gif") repeat-y right top; text-align: center; }
.qx-menu ul li a{color: #fff; font-size: 20px;  text-align: center; }

.qx-banner{  }
.qx-notice{ height:58px; line-height: 58px; vertical-align: middle; background: #eee; }
.qx-youshi { padding: 20px 0 }
.qx-youshi p {text-indent: 2em;}
.youshipic{  width: 100%; }
.youshifont{background: #eeeeee;height: 140px; width: 100%; padding: 10px; }
.qx-fangan{ background: #dcdcdc;padding: 20px 0  }
.qx-fangan p{text-indent: 2em;}
.qx-footer{ background: #333333; }
.qx-footer .qx-w{height: 345px; padding: 40px 0; }
.col-md-qx{ float: left; width: 160px; margin-right: 50px; }
.qx-footer ul li{ text-align: left; padding-left:40px; line-height: 40px;  }
.qx-footer ul li a{ color: #dcdcdc; }
.qx-footer h5{ color: #fff; text-align: center; }
.qx-footer h3{ color: #fff; text-align: center; }
.qx-footer .col-md-4{ border-left: solid 1px #646464;  }

.qx-footer-bottom{ text-align: left; position: absolute; bottom: 40px; left:55px; }
.qx-footer-bottom div{ color: #2b73b4; }
.qx-footer-bottom div a{ color: #2b73b4; }
.qx-footer-bottom p { color: #dcdcdc; }

.icon-moblie{ background: url("../images/mobile.gif") no-repeat 200px center; }
.icon-news{ background: url("../images/icon-news.gif") no-repeat left center; padding-left: 20px; }
.icon-news b{ color: #2b73b4; }
.qx-notice .col-md-2 p a{color: #2b73b4}